::-webkit-scrollbar {
    width: 6px;
    border-radius: 4px;
    background-color: transparent;
    position: relative;
}

::-webkit-scrollbar-track {
    width: 6px;
    border-radius: 4px;
    background-color: transparent;
    position: relative;
}

::-webkit-scrollbar-thumb {
    width: 6px;
    border-radius: 4px;
    background-color: gray;
    position: relative;
}